<div id="section-contact"  class="section container-fluid">
     <div class="row">
        <div class="col-md-12">
            <div class="center-content texte-contact">
                <h2 data-translate="fo-thanks">Merci pour votre visite ! N'hésitez pas à me contacter pour en savoir plus</h2>
                <h3 data-translate="fo-stage">Je recherche un stage d'une durée de 6 mois à partir de l'été 2018</h3>
            </div> 
            <div class="center-content">
                <div class="center-content contact-link">
                    <a><span>david.delemotte@gmail.com</span></a>
                </div>
                <div class="center-content social-link">
                    <a href="https://www.instagram.com/delemottedavid" target="_blank">
                        <i class="icon-instagram-3"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/delemottedavid" target="_blank">
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="https://github.com/DavidDelem" target="_blank">
                        <i class="icon-git-squared"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
