<div id="section-header">
    <div class="header-background-container">
         <div class="header-background"></div>
    </div>
    <div class="header-content container-fluid">

        <div class="row justify-content-md-center">
            <div class="col-md-12">   
                <h1 class="hidden-elem zoom">David <span>Delemotte</span></h1>
            </div>
            <div class="col-md-12 text-presentation">
                <h2 class="hidden-elem" data-translate="he-h2">Étudiant ingénieur en informatique en double diplôme au Canada</h2>
                <h3 class="hidden-elem" data-translate="he-h3">Je recherche un stage de fin d'études de 6 mois à partir de l'été 2018</h3>
            </div>
            <div class="col-md-12 text-presentation-mobile">
                <p data-translate="he-h2">Étudiant ingénieur en informatique en double diplôme au Canada</p>
                <p data-translate="he-h3">Je recherche un stage de fin d'études de 6 mois à partir de l'été 2018</p>
            </div>
<!--
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="presentation hidden-elem">Étudiant en école d'ingénieur en France, j'effectue actuellement ma dernière année de scolarité au Canada afin de valider une Maitrise en Informatique en complément de mon diplôme d'ingénieur. Je recherche un stage de fin d'études à partir de l'été 2018 pour une durée d'environs 6 mois.</p>
            </div>
-->
            <div class="col-md-12">

                <div class="menu">
                    <ul>
                        <li class="scroll-element" href="#section-scolarity">
                            <div class="hide-odd">
                                <svg class="icon">
                                    <use xlink:href="#mortarboard" />
                                </svg>
                            </div>
                        </li>
                        <li class="scroll-element" href="#section-work">
                            <div class="hide-even">   
                                <svg class="icon">
                                    <use xlink:href="#travel" />
                                </svg>
                            </div>
                        </li>
                        <li class="scroll-element" href="#section-skills">
                            <div class="hide-odd">   
                                <svg class="icon">
                                    <use xlink:href="#tools" />
                                </svg>
                            </div>
                        </li>
                        <li class="scroll-element" href="#section-projects">
                            <div class="hide-even">   
                                <svg class="icon">
                                    <use xlink:href="#coding" />
                                </svg>
                            </div>
                        </li>
                        <li class="scroll-element" href="#section-interests">
                            <div class="hide-odd">   
                                <svg class="icon">
                                    <use xlink:href="#like" />
                                </svg>
                            </div>
                        </li>
                        <li class="scroll-element" href="#section-contact">
                            <div class="hide-even">   
                                <svg class="icon">
                                    <use xlink:href="#chat" />
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>