<div id="section-interests" class="section container">
    <div class="row">
        <div class="col-md-12">
            <h2 data-translate="in-title">Centres d'intérêt</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center-content">
            <div class="rounded-box-container">
                <div class="rounded-box" data-category="webdesign">
                    <svg class="icon">
                        <use xlink:href="#layers" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p>Webdesign</p>
                </div>
            </div>
            <div class="rounded-box-container">
                <div class="rounded-box" data-category="space">
                    <svg class="icon">
                        <use xlink:href="#space-shuttle" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p>Spatial</p>
                </div>
            </div> 
            <div class="rounded-box-container">
                <div class="rounded-box" data-category="voyages">
                    <svg class="icon">
                        <use xlink:href="#location" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p data-translate="in-trips">Voyages</p>
                </div>
            </div>
            <div class="rounded-box-container">
                <div class="rounded-box" data-category="lecture">
                    <svg class="icon">
                        <use xlink:href="#open-book" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p data-translate="in-read">Lecture</p>
                </div>
            </div>
            <div class="rounded-box-container">
                <div class="rounded-box"  data-category="series">
                    <svg id="test-svg" class="icon">
                        <use xlink:href="#technology" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p data-translate="in-tv">Séries TV</p>
                </div>
            </div>
            <div class="rounded-box-container">
                <div class="rounded-box"  data-category="sports">
                    <svg id="test-svg" class="icon">
                        <use xlink:href="#snowflakes" />
                    </svg>
                </div>
                <div class="rounded-box-title">
                    <p data-translate="in-ski">Ski</p>
                </div>
            </div>
        </div>
        
<!--
        <div class="col-md-12 zone-text-interests">
            <div class="rounded-box-text text-webdesign">
                <p>Je m'interesse beaucoup au webdesign. Lorsque j'ai un projet impliquant une interface graphique, j'essaye de blabla</p>
            </div>
            <div class="rounded-box-text text-space">
                <p>L'exploration spatiale est un domaine qui me fascine. Je suis l'actualitée liée à ce domaine, en particulier les avancées de SpaceX et j'ai récemment été visité la NASA à Cape Cannaveral.</p>
            </div>
            <div class="rounded-box-text text-voyages">
                <p>J'aime voyager et découvrir de nouvelles cultures. J'ai profité de mon année au Canada pour faire le tour du Mexique et visiter les villes de la côte est américaine. J'aimerais beaucoup découvrir l'Inde et les volcans d'Hawaii l'année prochaine.</p>
            </div>
            <div class="rounded-box-text text-lecture">
                <p>J'aime lire des livres, mes genres favoris sont le fantastique et la science-fiction. Si une histoire me plait vraiment, je peut la lire en quelques jours.</p>
            </div>
            <div class="rounded-box-text text-series">
                <p>Je regarde beaucoup de séries de genre variés. Mes séries favorites du moment ? Stranger Things, How To Get Away With Murder, Game Of Thrones et House of Cards. Les séries m'ont également permis d'appendre plus facilement l'anglais.</p>
            </div>
            <div class="rounded-box-text text-sports">
                <p>J'adore les sensations que procure le ski ainsi que les sports d'hivers en général. Vivre au Canada est une chance car cela me permet d'en faire beaucoup plus qu'en France.</p>
            </div>
        </div>
-->

    </div>
</div>