<div id="section-projects" class="section container">
    <div class="row">
        <div class="col-md-12">
            <h2 data-translate="po-title">Projets personnels et scolaires</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="shadow-box projet-box js-elem-hidden" data-id="1">
            </div>
            <div class="shadow-box projet-box js-elem-hidden" data-id="2">
            </div>
            <div class="shadow-box projet-box js-elem-hidden" data-id="10">
            </div>
            <div class="shadow-box projet-box js-elem-hidden" data-id="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadow-box projet-box js-elem-hidden" data-id="5">
            </div>
            <div class="shadow-box projet-box js-elem-hidden" data-id="4">
            </div>
            <div class="shadow-box projet-box js-elem-hidden" data-id="6">
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadow-box projet-box js-elem-hidden" data-id="8">
            </div>
            
            <div class="shadow-box projet-box js-elem-hidden" data-id="3">
            </div>
            
            <div class="shadow-box projet-box js-elem-hidden" data-id="7">
            </div>
        </div>
    </div>
    
<!--
    <div id="zone-detail-projet">
        <div class="close">
			 <i class="icon-cancel"></i>
	    </div>
        <div class="zone-detail-header">
            <h3>Titre</h3><span>CSS3</span><span>PHP</span><span>Javascript</span>
        </div>
        <div class="zone-detail-content">
            <div class="zone-detail-slider">
                <div class="slider-item"><img src="img/imgtest.png"/><p>vfddfbfd dsfdsgfd gdfsgdfsg dfg</p></div>
                <div class="slider-item"><img src="img/imgtest.png"/><p>dfgfdhgfbf fd dfsgdsfgdfsg dfsg dfsg fdsgdfsg df</p></div> 
                <div class="slider-item"><img src="img/imgtest.png"/><p>dfgfdhgfbf dfsfg dsf dfsgdfsg df dfgdfsgf df dsfgds dfgs</p></div>   
                <div class="slider-item"><img src="img/imgtest.png"/><p>dfgff dfsfg dsf dfsgdfsg df dfgdfsgf df dsfgds dfgs</p></div>   
            </div>
            <div class="slider-pagination">
                <p></p>
            </div>
        </div>
    </div>
-->
    
</div>