<div id="section-skills" class="section container">
    <div class="row">
        <div class="col-md-12">
            <h2 data-translate="co-title">Compétences</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 skills-categories">
            <ul>
                <li class="category" data-category="database" data-translate="co-subtitle-bdd">Bases de données</li>
                <li class="category" data-category="communication" data-translate="co-subtitle-com">Communications</li>
                <li class="category" data-category="languages" data-translate="co-subtitle-prog">Programmation</li>
                <li class="category" data-category="management" data-translate="co-subtitle-manag">Gestion de projet</li>
            </ul>
        </div>
        <div class="col-md-12">  
            <div class="center-content">
                <span class="ship languages-elem">Javascript</span>
                <span class="ship languages-elem">Polymer</span>
                <span class="ship languages-elem">AngularJS</span>
                <span class="ship languages-elem">HTML</span>
                <span class="ship languages-elem">CSS</span>
                <span class="ship communication-elem">REST</span>
                <span class="ship languages-elem">Node.js</span>
                <span class="ship management-elem">Jenkins</span>
                <span class="ship database-elem">MongoDB</span>
                <span class="ship languages-elem">C</span> 
                <span class="ship management-elem">Scrum</span>
                <span class="ship languages-elem">JAVA EE</span>
                <span class="ship communication-elem">Apache Kafka</span>
                <span class="ship commmunication-elem">Apache Thrift</span>
                <span class="ship management-elem">Microsoft Office</span>
                <span class="ship database-elem" data-translate="co-bdd">Conception de bases de données</span>
                <span class="ship database-elem">MySQL</span>
                <span class="ship languages-elem">Bash</span>
                <span class="ship management-elem">JIRA</span>
                <span class="ship communication-elem">Apache Thrift</span>
                <span class="ship languages-elem" data-translate="co-ass">Bases d'asembleur</span>
                <span class="ship communication-elem" data-translate="co-evt">Architectures orientées événements</span>
                <span class="ship management-elem" data-translate="co-test">Automatisation des tests</span>
                <span class="ship langages-elem" data-translate="co-aspc">Programmation orientée aspect</span>
                <span class="ship languages-elem">PHP</span>
                <span class="ship communication-elem">RabbitMQ</span>
                <span class="ship languages-elem">Ruby on Rails</span>
                <span class="ship management-elem">Github</span>
                <span class="ship management-elem">SVN</span>
            </div>
        </div>
    </div>
</div>