<div id="section-work" class="section container">
    <div class="row">
        <div class="col-md-12">
            <h2  data-translate="wo-title">Expériences profesionnelles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="shadow-box work-logo-elem js-elem-hidden">
                <img class="logo-company" src="img/arkea.png" alt="Crédit Mutuel ARKEA">
                <div class="zone-dates">
                    <span> <i class="icon-hourglass"></i> <span  data-translate="wo-a-dur">12 mois</span></span>
                    <span><i class="icon-calendar"></i> <span>2015 - 2016</span></span>
                    <span> <i class="icon-location-1"></i> <span>France</span></span>
                    <span><i class="icon-briefcase"></i> <span data-translate="wo-a-type">Alternance</span></span>
                </div>
            </div>
<!--
            <div class="row">
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-hourglass"></i> <span  data-translate="wo-a-dur">12 mois</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-calendar"></i> 2015 - 2016
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                       <i class="icon-location-1"></i> France
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-briefcase"></i> <span data-translate="wo-a-type">Alternance</span>
                    </div>
                </div>
            </div>
-->
        </div>
        <div class="col-md-8">
            <div class="shadow-box work-elem js-elem-hidden">
                <div class="row">
                    <div class="col-md-12">                
                        <div class="job-detail">
                            <h3 data-translate="wo-a-title"><span>Développeur</span> au Crédit Mutuel Arkéa</h3>
                            <h4 data-translate="wo-a-sub">Service Banque à Distance</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="job-description">
                            <p  data-translate="wo-a-desc">Avec mon équipe agile du service Banque à Distance, j'ai développé des solutions à usage interne et à destination des clients finaux: refonte d'une applications utilisée dans les centres de relation client, création d'un outil de monitoring, développement de composants du nouveau site et de la nouvelle application mobile hybride de la banque, évolution de services existants sur le serveur centralisant la distribution des mails, SMS et notifications push aux clients.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="shadow-box work-logo-elem js-elem-hidden">
                     <img class="logo-company" src="img/logo-zip.png" alt="ZIP">
                    <div class="zone-dates">
                        <span> <i class="icon-hourglass"></i> <span  data-translate="wo-z-dur">2 mois</span></span>
                        <span><i class="icon-calendar"></i> <span>2015</span></span>
                        <span> <i class="icon-location-1"></i> <span>France</span></span>
                        <span><i class="icon-briefcase"></i> <span data-translate="wo-z-type">Stage</span></span>
                    </div>
            </div>
<!--
            <div class="row">
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-hourglass"></i> <span  data-translate="wo-z-dur">2 mois</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-calendar"></i> 2015
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                       <i class="icon-location-1"></i> France
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-briefcase"></i> <span data-translate="wo-z-type">Stage</span>
                    </div>
                </div>
            </div>
-->
        </div>
        <div class="col-md-8 col-md-pull-4 ">
            <div class="shadow-box work-elem js-elem-hidden">
                <div class="row">
                    <div class="col-md-12">                
                        <div class="job-detail">
                            
                            <h3 data-translate="wo-z-title"><span>Développeur web</span> chez ZIP</h3>
                            <h4 data-translate="wo-z-sub">Agence Digitale</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="job-description">
                            <p data-translate="wo-z-desc">
                                Mon rôle était de développer des composants back-office pour la gestion des produits et des clients de sites e-commerce créés avec le CMS Prestashop. J'ai également réalisé l'intégration d'un site e-commerce à partir de maquettes et résolu divers incidents détectés sur les sites en production.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
       <div class="col-md-4">
            <div class="shadow-box work-logo-elem js-elem-hidden">
                <img class="logo-company" src="img/republique-francaise.svg" alt="Maison d'arrêt de Brest">
                <div class="zone-dates">
                    <span> <i class="icon-hourglass"></i> <span  data-translate="wo-m-dur">1 mois</span></span>
                    <span><i class="icon-calendar"></i> <span>2014</span></span>
                    <span> <i class="icon-location-1"></i> <span>France</span></span>
                    <span><i class="icon-briefcase"></i> <span data-translate="wo-m-type">Stage</span></span>
                </div>
            </div>
<!--
            <div class="row">
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-hourglass"></i> <span  data-translate="wo-m-dur">1 mois</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-calendar"></i> 2014
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                       <i class="icon-location-1"></i> France
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="shadow-box work-detail-elem js-elem-hidden">
                        <i class="icon-briefcase"></i> <span data-translate="wo-m-type">Stage</span>
                    </div>
                </div>
            </div>
-->
        </div>
        <div class="col-md-8">
            <div class="shadow-box work-elem js-elem-hidden">
                <div class="row">    
                    <div class="col-md-12">  
                        <div class="job-detail">
                            <h3 data-translate="wo-m-title"><span>Formateur à l'informatique</span> à la maison d'arrêt de Brest</h3>
                            <h4 data-translate="wo-m-sub">Centre de détention pour peines jusqu'à deux ans</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="job-description">
                        
                        <p  data-translate="wo-m-desc">J'ai supervisé deux groupes de détenus. Des connaissances de base de l'utilisation d'un ordinateur à l'utilisation avancée de logiciels de traitement de texte et de tableur, mon rôle était de proposer une formation adaptée aux besoins et au niveau de chaque détenu afin de favoriser leur réinsertion au sein de la société à l’issue de leur peine.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>